header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

/* Stlye The CTA */
.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* Stlye The Header Socials */
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
    position: absolute;
    left: 0;
    bottom: 3rem;
}

.header__socials::after {
    content: "";
    width: 2px;
    height: 3rem;
    background: var(--color-primary);
}

/* ME section */
.me {
    background: linear-gradient(var(--color-primary),transparent);
    width: 30rem;
    height: 36rem;
    position: absolute;
    left: calc(50% - 14.5rem);
    /* or */
    /* left: 50%;
    transform: translateX(-50%); */
    margin-top: 6rem;
    border-radius: 15rem 15rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
}

/* Scroll Down Style */
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 5rem;
    transform: rotate(90deg);
    font-weight: 300;
    font-size: 0.9rem;
}