nav {
  background: rgba(0, 0, 0, 0.3);
  width: max-content;
  display: block;
  padding: 0.7rem 0.5rem;
  z-index: 2;
  position: fixed;
  left: 95%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
}

nav a {
  background: transparent;
  padding: 0.85rem;
  border-radius: 50%;
  display: flex;
  color: var(--color-light);
  font-size: 1.2rem;
}

nav a:hover {
  background: rgba(0, 0, 0, 0.3);
}

nav a.active {
  background: var(--color-bg);
  color: var(--color-white);
}

/* Media Queries for large Size Devices */
@media screen and (min-width: 1024px) {
  nav {
    left: 91.5%;
  }
}

/* Media Queries for medium Size Devices */
@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav {
      left: 91.5%;
    }
  }

/* Media Queries for Small Size Devices */
@media screen and (max-width: 767px) {
  nav {
    left: 91.5%;
  }
}
